name: Bot Autograding Workflow

on:
  push:
    branches: ["**"]
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  autograding:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Autograder
        id: autograding
        uses: education/autograding@v1`n  with:`n    path: autograding.json

      - name: Report
        uses: classroom-resources/autograding-grading-reporter@v1
        with:
          runners: ${{ steps.autograding.outputs.runners }}

